<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ユーザー編集
      </h1>
    </div>
  </div>
</section>

<%= form_with model: @user do |f| %>

  <%= f.label :username, "ユーザーネーム" %>
  <%= f.text_field :username %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.text_field :email %>

  <%= f.label :profile %>
  <%= f.text_field :profile %>

  <%= f.label :profile_image, "プロフィール画像" %>
  <%= f.attachment_field :profile_image %>

  <%= f.submit %>

<% end %>